html{
  background-image: "img/Peacock.png";
  background-color: #D7BDE2;
}

body {
  font-family: 'Cormorant Garamond', serif;
  text: black;
  }

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 10em;
  padding: 0px;
  text-align: center;
  width: 10em;
  border-top: solid 10px blue;
  border-bottom: solid 10px orange;
  border-right: solid 10px red;
  border-left: solid 10px green;
  border-radius: 2%
  color: #320466;
  background-color: #B4FBFA;
}
nav ul li {
  font-family: 'Cinzel', serif;
  display: inline-block;
	padding: 20px;
	text-align: center;
	text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  float: right;
  clear:left;
  background-color: #F5D0F9;
}
section ul {
  font-family: 'Cinzel', serif;
  text-align: center;
  text-decoration: underline;
  margin-left: 5em;
  margin-right: 5em;
}
ul li {
  margin-top:0px!important;
  margin-right: 3em;
}
img {
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-left: 0.1px;
  margin-right: 10em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: "left";
  clear: right;
  width: 20em;
  padding-left: 0px;
  padding-top: 1em;
}
@media only screen and (max-width: 575.98px)
{
	nav ul {padding-left: 1px; }
	nav ul li {display: block !important; }
}
